<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sass/style.css" />
    <title>Admin Panel</title>
  </head>
  <body>
    <!-- NAV BARS -->
    <nav class="nav-bar">
      <h1 class="heading">Hostelo de gentse</h1>
      <div class="nav-link">
        <a href="/admin/" class="active">Home</a>
        <a href="/admin/expense">Submit Expense</a>
        <a href="/admin/users">list user</a>
        <a href="/users/logout">logout</a>
      </div>
      <div class="b-icon">
        <i
          class="fa fa-bars b-icon"
          aria-hidden="true"
          onclick="linkTray()"
          id="bars"
        ></i>
      </div>
    </nav>

    <div class="link-tray">
      <i
        class="fa fa-close c-icon"
        onclick="linkTrayClose()"
        aria-hidden="true"
      ></i>
      <a href="/admin/expense">Submit Expense</a>
      <a href="/admin/users">list user</a>
      <a href="/users/logout">logout</a>
    </div>
    <!-- NAV BARS -->
    <div class="container-admin">
      <!-- <div class="box-monthly">
          <a href="/admin/monthly/1">January</a>
          <a href="/admin/monthly/2">February</a>
          <a href="/admin/monthly/3">March</a>
          <a href="/admin/monthly/4">April</a>
          <a href="/admin/monthly/5">May</a>
          <a href="/admin/monthly/6">June</a>
          <a href="/admin/monthly/7">July</a>
          <a href="/admin/monthly/8">August</a>
          <a href="/admin/monthly/9">September</a>
          <a href="/admin/monthly/10">October</a>
          <a href="/admin/monthly/11">November</a>
          <a href="/admin/monthly/12">December</a>
        </div> -->

      <div class="box-admin primary">
        <p class="banner-admin">Admin panel</p>
        <h2>Monthly Report</h2>
        <br />
        <p id="month"></p>
        <h1>0</h1>
        <p>marked attendances</p>
        <br />
        {{! <select name="months" class="input-primary" id="months">
          <option value="0" selected disabled>Select Month</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <button class="btn-primary" onclick="op_att()">Select</button> }}
      </div>
    </div>

    <footer class="foot">
      <p class="sml">
        Developed by&nbsp;<a href="" class="link">youknowwho</a>
      </p>
    </footer>

    <script
      src="https://kit.fontawesome.com/7d58fde0a7.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/script.js">
    </script>
    <script>const month = monthNames[d.getMonth()]; const preMonth =
      monthNames[d.getMonth() - 1]; document.getElementById("month").innerText =
      `${month}`;
    </script>
  </body>
</html>