<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
  </head>
  <body>
    <h2>user list</h2>
    <a href="/admin/users">list user</a>
    <br />
    <div class="container" style="display:flex ; flex-direction: column;">
      <h2>monthly report</h2>
      <a href="/admin/monthly/1">month 1</a>
      <a href="/admin/monthly/2">month 2</a>
      <a href="/admin/monthly/3">month 3</a>
      <a href="/admin/monthly/4">month 4</a>
      <a href="/admin/monthly/5">month 5</a>
      <a href="/admin/monthly/6">month 6</a>
      <a href="/admin/monthly/7">month 7</a>
      <a href="/admin/monthly/8">month 8</a>
      <a href="/admin/monthly/9">month 9</a>
      <a href="/admin/monthly/10">month 10</a>
      <a href="/admin/monthly/11">month 11</a>
      <a href="/admin/monthly/12">month 12</a>
    </div>

  </body>
</html>