<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin pannel</title>
  </head>
  <body>
    <form action="/admin/expense_month/" method="post">
      <input type="text" name="month" id="month" placeholder="month [1-12]" />
      <input type="text" name="cost" id="totalCost" placeholder="Total Cost" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>