<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sass/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <nav class="nav-bar">
      <h1 class="heading">Hostelo de gentse</h1>
      <div class="nav-link">
        <a href="/users/logout">logout</a>
      </div>
      <div class="b-icon">
        <i
          class="fa fa-bars b-icon"
          aria-hidden="true"
          onclick="linkTray()"
          id="bars"
        ></i>
      </div>
    </nav>

    <div class="link-tray">
      <i
        class="fa fa-close c-icon"
        onclick="linkTrayClose()"
        aria-hidden="true"
      ></i>
      <a href="/users/logout" class="">logout</a>
    </div>

    <div class="box-admin primary">
      <h2>Name</h2>
      <span class="username">{{user.username}}</span>
      <p id="previousMonth"></p>
      <h1>0₹</h1>
      <a href="/users/attendence/{{user._id}}" class="btn btn-primary">Add
        attendance</a>
      <a href="/users/monthAttendence/{{user._id}}" class="btn btn-primary">All
        attendance</a>
    </div>
    <footer class="foot">
      <p class="sml">
        Developed by&nbsp;<a href="" class="link">youknowwho</a>
      </p>
    </footer>

    <script
      src="https://kit.fontawesome.com/7d58fde0a7.js"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/script.js">
    </script>
  </body>
</html>