.table {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 124px;
}

table {
  border: 2px solid black;
  width: 85%;
  border-collapse: collapse;
  th {
    font-size: ($lg-font + 2);
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: $inp-lg-h;
  }
  td {
    font-size: $lg-font;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: $inp-lg-h;
  }
}
