.table {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 14px;
}

table {
  border: 2px solid black;
  width: 85%;
  border-collapse: collapse;
  th {
    font-size: 24px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: $inp-lg-h;
  }
  td {
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: $inp-lg-h;
  }
}
